<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Purrrrrrr. Welcome to 99 Cats, <%= @user.username %>!</h1>
    <p>You have successfully created an account at 99 Cats. Your username is: <%= @user.username %>. Purr-fect!</p>
    <p>To login now, click <a href="localhost:3000/cats">here</a> or copy/paste this link: <%= @url %></p>
    <p>You'll be glad you came over to the cat side. We've got catnip.</p>
    <p>See you shortly!</p>
  </body>
</html>