Purrrrrrr. Welcome to 99 Cats, <%= @user.username %>!
====================================================

You have successfully created an account at 99 Cats. Your username is: <%= @user.username %>. Purr-fect!

To login now, click <a href="localhost:3000/cats">here</a> or copy/paste this link: <%= @url %>

You'll be glad you came over to the cat side. We've got catnip.

See you shortly!