/* PHASE 3: Layout */

.content {
    display: flex;
    background-color: white;
    width: 900px;
    margin: auto;
}

.content-sidebar {
    min-height: 200px;
    width: 200px;
    padding: 20px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 20px;
}

.content-main {
    min-height: 200px;
    width: 700px;
    padding: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}